@model User

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <center>
                    <h2>KAYIT OL</h2>
                </center>
                <form asp-actions="Register" asp-controller="Login" method="post">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example13">Ad</label>
                        <input type="text" id="form1Example13" name="UserName" class="form-control form-control-lg" required />
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example13">Soyad</label>
                        <input type="text" id="form1Example13" name="UserSurname" class="form-control form-control-lg" required />
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example13">Mail Adresi</label>
                        <input type="email" id="form1Example13" name="UserMail" class="form-control form-control-lg" required />
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example23">Şifre</label>
                        <input type="password" id="password" name="UserPassword" class="form-control form-control-lg" required />
                        <span asp-validation-for="UserPassword" class="text-danger"></span>
                        <label class="form-label text-sm text-black-50" for="form1Example23">(Şifre en az 8 karakter olmalı)</label> <br />
                        <input type="checkbox" id="showPassword" /> Şifreyi göster
                        <span asp-validation-for="UserPassword" class="text-danger"></span>
                        <br />
                        <i>
                            @TempData["Login"]
                        </i>
                        <i>
                            @TempData["Hata"]
                        </i>
                    </div>
                    <!-- Submit button -->
                    <center>
                        <button type="submit" class="btn btn-success btn-lg btn-block"> Kaydol </button>
                    </center>
                    <br />
                    Hesabın Var Mı ?
                    <a asp-action="Index" asp-controller="Login">
                        Hemen Giriş Yap
                    </a>
                </form>
            </div>
        </div>
    </div>
</section>