html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #7e40f6;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient( to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1) );
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient( to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1) );
}

.mask-custom {
    background: #0c8dea;
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

//login

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
